<script lang="ts" setup>
import { ref } from "vue";
const currentImage = ref("feeling_imgs/smile.png");
const changeCurrentImage = (feeling: string) => {
  currentImage.value = `feeling_imgs/${feeling}.png`;
  selectedFeeling.value = feeling.charAt(0).toUpperCase() + feeling.slice(1);
};
const selectedFeeling = ref("Smile");
</script>
<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" sm="6" md="8">
          <img :src="currentImage" />
        </v-col>
        <v-col cols="12" md="4">
          <p class="text">{{ selectedFeeling }}</p>
          <v-btn
            block
            @click="changeCurrentImage('angry')"
            :class="{ btn: true, 'v-btn--active': selectedFeeling == 'Angry' }"
            >ANGRY</v-btn
          >
          <v-btn
            block
            @click="changeCurrentImage('cute')"
            :class="{ btn: true, 'v-btn--active': selectedFeeling == 'Cute' }"
            >CUTE</v-btn
          >
          <v-btn
            block
            @click="changeCurrentImage('excited')"
            :class="{
              btn: true,
              'v-btn--active': selectedFeeling == 'Excited',
            }"
            >EXCITED</v-btn
          >
          <v-btn
            block
            @click="changeCurrentImage('pain')"
            :class="{ btn: true, 'v-btn--active': selectedFeeling == 'Pain' }"
            >PAIN</v-btn
          >
          <v-btn
            block
            @click="changeCurrentImage('shocked')"
            :class="{
              btn: true,
              'v-btn--active': selectedFeeling == 'Shocked',
            }"
            >SHOCKED</v-btn
          >

          <v-btn
            block
            @click="changeCurrentImage('smile')"
            :class="{ btn: true, 'v-btn--active': selectedFeeling == 'Smile' }"
            >SMILE</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.text {
  text-align: center;
  font-size: 30px;
}
.btn {
  margin-top: 10px;
}
.v-btn--active {
  background-color: yellow !important;
}
</style>
