<script lang="ts" setup>
import { ref } from "vue";

const number = ref("0");
const rules = [(v: string) => !!v || "Number is not empty!! "];

//show a number 1 to input number in a row
const showNumber = (number: number) => {
  let result = [];
  for (let i = 1; i <= number; i++) {
    result.push(i);
  }
  return result;
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-text-field
          v-model="number"
          label="Please input Number"
          :rules="rules"
          outlined
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row class="mb-6" no-gutters>
      <v-col cols="12">
        <v-row>
          <v-col v-for="item in showNumber(number)" :key="item" cols="1">
            <h1>{{ item }}</h1>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
