<template>
  <div class="solve-problem-4">
    <v-row>
      <v-col cols="12" md="6">
        <FirstComponent />
        <v-btn @click="increment">Increment</v-btn>
      </v-col>
      <v-col cols="12" md="6">
        <SecondComponent />
        <v-btn @click="decrement">Decrement</v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";

export default {
  setup() {},
  components: {
    FirstComponent,
    SecondComponent,
  },
};
</script>
