<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const selectedProducts = ref([]);

const addToCart = (product) => {
  selectedProducts.value.push(product);
};

const productSection = ref(null);
</script>

<template>
  <div>
    <div class="product-section" ref="productSection">
      <div v-for="product in products" :key="product.id" class="product-item">
        <v-card>
          <v-card-title>{{ product.name }}</v-card-title>
          <v-card-subtitle>{{ product.price }}</v-card-subtitle>
          <v-btn @click="addToCart(product)">ADD</v-btn>
        </v-card>
      </div>
    </div>
    <div class="selected-section" v-if="selectedProducts.length">
      <v-table>
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
          </tr>
        </thead>
        <tr v-for="(product, index) in selectedProducts" :key="index">
          <td>{{ index }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
        </tr>
      </v-table>
      <h1 class="mt-10">
        Sum : {{ selectedProducts.reduce((acc, cur) => acc + cur.price, 0) }}
      </h1>
    </div>
    <div v-else>
      <h1 class="mt-10">NO Data</h1>
    </div>
  </div>
</template>

<style>
.product-section {
  width: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  overflow-y: scroll;
}

.product-item {
  width: 30%;
  text-align: center;
  margin: 10px;
}

.selected-section {
  width: 50%;
  float: left;
  height: 500px;
  overflow-y: scroll;
}
</style>
